* {
    padding: 0;
    margin: 0;
}

.head {
    background-color: #fff;
    height: 120px;
    width: 100%;
    padding: 35px;
    display: flex;
}

.corpo {
    background-color: #FFD43E;
    height: 83.5vb;
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-left: 50%;
}


#lupa {
    background: url("./search.png") no-repeat right / 15px;
    border-radius: 10px;
    width: 200px;
    background-color: #c8c8c8;

}

.brasil,
.user,
.carrinho {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.mm {
    position: absolute;
    right: 43%;
    top: 5%;
}

.marrom{
    background-color: #4B230F;
    height: 3px;
}

.barrasEsquerda{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1 ;
}

.barrasDireita{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.slid1{
    width: 550px;
    border-radius: 150px;
    background-color: beige;
    padding: 30px;
}

.slid2{
    width: 300px;
    border-radius: 150px;
    background-color: beige;
    padding: 30px;
}

.slid3{
    width: 400px;
    border-radius: 150px;
    background-color: beige;
    padding: 30px;
}

.carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 250px;
}

.imgProduto{
    margin-left: 10%;
}

.empresas{
    margin-left: 7%;
}

.bodyContato{
    background-color: #1C00FF;
    width: 100%;
    height: 100%;
}

.contato{
    background-color:#1C00FF;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headContato{
    height: 120px;
    width: 100%;
    padding: 35px;
    display: flex;
    background-color:red;
}

.headProduto{
    height: 120px;
    width: 100%;
    padding: 35px;
    display: flex;
    background-color: beige;
}